<appSettings>
  <add key="ApplicationName" value="Anno" />
  <add key="LogRequests" value="true" />
  <add key="CommitToBlockchain" value="false" />
  <add key="ContractScriptHash" value="" />
  <add key="ContractPrivateKeyHEX" value="" />
  <add key="OwnerScriptHash" value="" />
</appSettings>
