<appSettings>
  <add key="ApplicationName" value="Anno" />
  <add key="LogRequests" value="true" />
  <add key="CommitToBlockchain" value="false" />
  <add key="ContractScriptHash" value="500891c2dc8a2db6324b5eba34ca13cce46ec26a" />
  <add key="ContractPrivateKeyHEX" value="aa7f3431bf7639fb35c087d7a5adf2e82544545d0bdfac0cfaeffec38b7a497b" />
  <add key="OwnerScriptHash" value="aa123" />
</appSettings>